name: Build and Publish Docker Image

# refer to https://github.com/actions/starter-workflows/blob/main/ci/docker-publish.yml 

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: docker.io
  # <repo>
  IMAGE_NAME: ${{ github.event.repository.name }}


jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    environment: docker
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Get Time
        id: time
        uses: nanzm/get-time-action@v1.1
        with:
          timeZone: 8
          format: 'YYYYMMDD-HHmmss'

      # Build and push Docker image with Buildx
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image (8-apache-bullseye)
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: VARIANT=8-apache-bullseye
          tags: ${{ secrets.DOCKER_HUB_USER }}/${{ env.IMAGE_NAME }}:8-apache-bullseye, ${{ secrets.DOCKER_HUB_USER }}/${{ env.IMAGE_NAME }}:8-apache-bullseye-${{ steps.time.outputs.time }}

      - name: Build and push Docker image (8.1-apache-bullseye)
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: VARIANT=8.1-apache-bullseye
          tags: ${{ secrets.DOCKER_HUB_USER }}/${{ env.IMAGE_NAME }}:8.1-apache-bullseye, ${{ secrets.DOCKER_HUB_USER }}/${{ env.IMAGE_NAME }}:8.1-apache-bullseye-${{ steps.time.outputs.time }}


      - name: Build and push Docker image (DEV - 8-apache-bullseye)
        uses: docker/build-push-action@v3
        with:
          context: .
          file: {context}/Dockerfile.dev
          build-args: VARIANT=8-apache-bullseye
          tags: ${{ secrets.DOCKER_HUB_USER }}/${{ env.IMAGE_NAME }}:8-apache-bullseye, ${{ secrets.DOCKER_HUB_USER }}/${{ env.IMAGE_NAME }}:8-apache-bullseye-${{ steps.time.outputs.time }}

      - name: Build and push Docker image (DEV - 8.1-apache-bullseye)
        uses: docker/build-push-action@v3
        with:
          context: .
          file: {context}/Dockerfile.dev
          build-args: VARIANT=8.1-apache-bullseye
          tags: ${{ secrets.DOCKER_HUB_USER }}/${{ env.IMAGE_NAME }}:8.1-apache-bullseye, ${{ secrets.DOCKER_HUB_USER }}/${{ env.IMAGE_NAME }}:8.1-apache-bullseye-${{ steps.time.outputs.time }}
